doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/style/styleParcourir.css')
        link(rel='icon', href='/images/favicon.png', type='image/x-icon')
    body
        nav.navbar
            div.left
                a.buttonBW(href = '/') menu
            div.right
                if username
                    a.blackText(href = '/conversationList') Mes messages
                    a.buttonBW(href=`/compte/${username}`) #{name}
                else
                    a.blackText(href = '/login') Se connecter
                    a.buttonBW(href = '/register') S'inscrire

        a.mainText Les dessins de #{nameProfile}.

        div.marginTop
            if (filtre==='jaime')
                a.filter.active(href=`/compte/${username}?filtre=jaime`) J'aime
                a.filter(href=`/compte/${username}?filtre=plus-recent`) Plus Récent
            if (filtre==='plus-recent')
                a.filter(href=`/compte/${username}?filtre=jaime`) J'aime
                a.filter.active(href=`/compte/${username}?filtre=plus-recent`) Plus Récent

        div.dessin-container.center
            each dessin in dessins
                a(href="/dessin/2")
                    img.image-class(src=`/dessin/${dessin.picPath}`, alt='Image du dessin')